* {
    margin: 0;
   padding: 0 5px 0 5px;
  }
  
  h1 {
    margin-top: -10ppx;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
  }
  
  h3 {
    color: #82d87b;
    font-size: 20px;
    text-align: center;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

     img{
      align-self: auto;
       justify-self: auto;
       width:80px;
     }
  }
  form {
    margin-top:5rem;
    align-items: center;

    ion-item{
      margin-bottom: 15px;
      border:solid 2px #888686;
      border-radius: 10px;
      ion-input{
        text-indent: 10px;
      }
    }
    .forgot{
      display: flex;
      margin-top: -20px;
      float: right;
      color: #2bdb34;
    }
    .invalid {
      border: 2px solid red;
    }
    
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 4px;
    }
    
  }
  
  .signup {
    text-align: center;
    font-size: 17px;
    margin-top: 20%;
  
    ion-button {
      text-decoration: none;
      font-weight: 600;
      margin-top: -14px;
      color: #2bdb34;
    }
  }
  