* {
  margin: 0;
  padding: 10px 10px 0 10px;
}

ion-icon {
  font-size: 40px;
  position: relative;
}
form {
   top:50% ;
  flex-direction: column; 
}
.form ion-item {
  margin-bottom: 10px;
}

.form ion-icon {
  background-color: #f0f0f0;
  border: solid 2px #939fab;
  text-align: center;
}

.form ion-input {
  height: 100%;
  border: solid 2px #939fab;
  border-left: none;
  text-indent: 10px;
}

h1 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

h3 {
  color: #939fab;
  margin-top: -20px;
  text-align: center;
}

 

.footer-text {
  text-align: center;
  font-size: 17px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #85fa57;
  }
}
