<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>
