<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" color='primary' name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notification</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
             <img src="assets/logoo.png" >
          </ion-thumbnail>
          <p>Hi, Welcome to Medicare+. The best way to find and book appoinment with your doctor.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  </ion-content>